:root {
/* Color Palette: Cyan from https://tailwindcss.com/docs/customizing-colors */
--50: #ecfeff;
--100: #cffafe;
--200: #a5f3fc;
--300: #67e8f9;
--400: #22d3ee;
--500: #06b6d4;
--600: #0891b2;
--700: #0e7490;
--800: #155e75;
--900: #164e63;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
    grid-template-areas: 
        'sidebar header'
        'sidebar main';
}

.sidebar {
    background-color: var(--500);
    grid-area: sidebar;
}

.header {
    border: 1px solid black;
    grid-area: header;
}

.main {
    border: 1px solid black;
    grid-area: main;
}

